//Cores Principais
$bg-Color: #343434;
$btn-About: #08B6BF;
$btn-Social: #E130A0;

//Cores Neutras
$branco:hsl(0, 0%, 100%);
$neutralColor-smokeyGray: hsl(0, 1%, 44%);
$neutralColor-offBlack: hsl(0, 0%, 8%);